
html {
  background: #282c34;
  color: #fff;
}

body {

}

/* Colors for  */
:root {
  --table-border: #ccc;
  --table-main-th-bg: #181a1f;
  --table-main-tr-bg: #282c34;
  --table-main-tr-hover-bg: #21252b;
  --table-hidden-th-bg: #21252a;
  --table-hidden-tr-bg: #313741;
  --table-hidden-tr-hover-bg: #4b5364;
}

table {
  border: none;
  border-collapse: collapse;
  color: #fff;
  width: 100%;
}

/* Darken the table's head compared to the rows. */
#professor_table th {
  background: var(--table-main-th-bg);
}


/* Provide a bottom-border to only the professor rows. Subtables have similar bottom-border. */
#professor_table tr.main {
  border-bottom: 1px solid var(--table-border);
}

/* Adjust the table structure */
#professor_table th, #professor_table td {
  padding: 10px; /* Add padding */
  font-size: 16px; /* Font size in the table */
  text-align: left; /* Left-align text */
}

/* Background for the professor information. Contrast with subtables. */
#professor_table tr {
  background: var(--table-main-tr-bg);
}

/* Highlights current row that mouse is hovering over */
#professor_table tr:hover {
  background: var(--table-main-tr-hover-bg);
}


/*** Subtable CSS ***/
/* Formats Subtable. Provides bottom-border to distinguish research/professor rows. */
#professor_table table.hidden {
  width: 100%;
  border-bottom: 1px solid var(--table-border);
}

/* Subtable padding. Set to 0 to make the subtable flush with the rows. */
#professor_table td.hidden {
  padding: 0 0 0 0 !important;
}

/* Subtable Header Background Color */
#professor_table .hidden th {
  background: var(--table-hidden-th-bg);
}

/* Subtable Background Color */
#professor_table .hidden tr {
  background: var(--table-hidden-tr-bg);
}

/* Subtable Hover Color */
#professor_table .hidden tr:hover {
  background: var(--table-hidden-tr-hover-bg);
}

/*** ANIMATION ***/
/* Hide/Show Animation */
tr td div {
  max-height: 0;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}
tr.active td div {
  max-height: 200px;
  padding: 10px 10px;
  transition: max-height 100%, padding 0.6s;
}

.hidden {
  -display: none;
}
